/* section__element */

.section__element{
    margin-top: 50px;
    margin-bottom: 50px;

    flex: 1 1 auto;
}

.element__container{
    display: flex;

    justify-content: space-between;
}

/* element__left */

.element__left{
    /* border: 2px solid blue; */
    max-width: 500px;

}

.bigImage img{
    width: 100%;
    height: 100%;

    max-width: 500px;
    max-height: 600px;
}

.thumb-img{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}

.thumb-img .box{
    width: 58px;
    height: 60px;
    margin-top: 5px;
    margin-right: 2px;
    margin-left: 2px;

    cursor: pointer;
}

.thumb-img .box.active{
    border: 2px solid rgb(49, 49, 177);
}

.thumb-img .box img{
    width: 100%;
}

/* element__right */

.element__right{
    /* border: 2px solid black; */

    margin: 0 auto;

    /* padding-top: 50px; */
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.element__gender{
    font-family: 'Epilogue', sans-serif;
    font-weight: 100;
    font-size: 30px;
}

.element__name{
    font-family: 'Epilogue', sans-serif;
    font-weight: 700;
    font-size: 30px;
    max-width: 400px;

    text-transform: uppercase;
}

.element__price{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    max-width: 300px;

    margin-top: 50px;
}

.btn__addtobasket{
    margin-top: 229px;

    cursor: pointer;

    max-width: 300px;

    width: 100%;
    height: 45px;

    display: flex;

    justify-content: space-between;
    align-items: center;

    padding: 0 10px;

    background-color: black;
    color: white;

    border: 1px solid black;
    border-radius: 0;

    font-size: 15px;
    font-weight: 700;
    font-family:  Helvetica, Arial, sans-serif;
}

.btn__addtobasket:hover{
    background-color: white;

    color: black;
}

@media screen and (max-width: 1200px){
    .element__left{
        margin: 0 auto;

    }
}

@media screen and (max-width: 1000px){
    .element__container{
        flex-direction: column;
    }

    .element__left::after{
        content: "";
        display: block;
        max-width: 500px;
        width: 100%;

        height: 2px;

        background-color: black;

        margin: 30px 0;
    }

    .element__right{
        /* border: 1px solid black; */

        max-width: 500px;
        width: 100%;

        padding-left: 0px;
        padding-bottom: 0px;
    }

    .btn__addtobasket{
        margin-top: 20px;
    }
}

@media screen and (max-width: 530px){
    .element__container{
        padding: 0 10px;
    }
}

@media screen and (max-width: 400px){
    .thumb-img .box{
        width: 48px;
        height: 50px;
    }
}