<p>Select city:</p>
<form method="GET" action="/setCity">
    <select id="sel" name="city">
        <option disabled selected>City</option>
        <option value='Shymkent'>Shymkent</option>
        <option value='Taraz'>Taraz</option>
        <option value='Almaty'>Almaty</option>
    </select>
    <input type="submit" value="submit">
</form>