body {
    margin: 0;

    font-family: "SFNS Display";
}

.container {
    margin: 0 auto;
    max-width: 1170px;

}

header {
    height: 50px;
    background-color: black;

    position: relative;
}

#about {
    height: 50px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cars {
    height: 50px;

    display: flex;
    align-items: center;
}

.cars a {
    text-decoration: none;
    opacity: .7;

    color: white;
}

.cars a:hover {
    opacity: 1;
}

.cars a:first-child {
    margin-right: 20px;
}

.like {
    display: flex;
    align-items: center;
}

.like img {
    width: 25px;
    height: 22px;

    background-image: white;

    cursor: pointer;

    opacity: .7;

    margin-right: 10px;
}

.like img:hover {
    opacity: 1;
}

.count__like {
    color: white;
    background-color: gray;

    border: 1px solid gray;
    border-radius: 3px;

    padding: 0 5px;
}

