.description {
  display: flex;
  flex-direction: column;
}

.body {
  margin-top: 50px;
}

.body__title {
  color: #c70600;

  font-weight: 400;

  margin-bottom: 50px;
}

.content {
  margin-top: 30px;

  border: 1px solid gray;

  display: flex;
  justify-content: left;
}

.image__content {
  margin: 0;
}

.image__content img {
  width: 220px;
  height: 150px;

  cursor: pointer;
}

.title__content {
  display: flex;
  flex-direction: column;
}

.a {
  text-decoration: none;
  cursor: pointer;

  color: black;

  font-size: 18px;
}

.b {
  margin-top: 20px;

  text-decoration: none;

  color: black;

  font-size: 15px;
}

.about__car {
  margin-top: 20px;
  margin-left: 15px;

  width: 400px;
}

.like__and__price {
  justify-content: space-between;
}

.like__and__price img {
  width: 22px;

  padding: 10px 25px;

  cursor: inherit;
}

.price {
  padding: 70px 0 15px 0;
}

.dashboard {
  background-color: lightgray;

  width: 250px;
  height: 500px;

  margin-top: 137px;
  margin-left: 50px;

  position: relative;
}

.form {
  position: relative;

  display: flex;
  justify-content: center;
}

.dashboard form {
  width: 250px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dashboard select {
  width: 200px;
  margin-right: auto;
  margin-left: auto;

  margin: 20px;

  padding: 5px;

  font-size: 20px;
}

.dashboard_marks {
  border: 1px solid gray;
  padding: 5px;

  font-size: 20px;
}

.submit {
  width: 250px;
  height: 30px;

  background-color: #c70600;
  color: white;

  position: absolute;
  bottom: 0;

  cursor: pointer;

  font-size: 20px;
}

.container {
  position: relative;
}